@page "/"

<div style="display: grid;" class="w-100 justify-content-center text-center align-items-center">
    <a href="/AyatList">
        <div class="card w-100">
            <img src="Image/quran.png" class="card-img-top" alt="Quran">
            <div class="card-body bg-dark text-white">
                <p class="card-text">القران</p>
            </div>
        </div>
    </a>
    <!--  -->
    <a href="/Azkar">
        <div class="card w-100">
            <img src="Image/icons8-mosque-96.png" class="card-img-top" alt="...">
            <div class="card-body bg-dark text-white">
                <p class="card-text ">اذكار الصباح والمساء</p>
            </div>
        </div>
    </a>
    <!--  -->
    <a href="/Tasbiha">
        <div class="card w-100">
            <img src="Image/icons8-islam-100.png" class="card-img-top" alt="...">
            <div class="card-body bg-dark text-white">
                <p class="card-text">تسابيح</p>
            </div>
        </div>
    </a>
</div>